<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>一月</string>
	<string>二月</string>
	<string>三月</string>
	<string>四月</string>
	<string>五月</string>
	<string>六月</string>
	<string>七月</string>
	<string>八月</string>
	<string>九月</string>
	<string>十月</string>
	<string>十一月</string>
	<string>十二月</string>
	<string>一号</string>
	<string>二号</string>
	<string>三号</string>
	<string>四号</string>
	<string>五号</string>
	<string>六号</string>
	<string>七号</string>
	<string>八号</string>
	<string>九号</string>
	<string>十号</string>
	<string>十一号</string>
	<string>十二号</string>
	<string>十三号</string>
	<string>十四号</string>
	<string>十五号</string>
	<string>十六号</string>
	<string>十七号</string>
	<string>十八号</string>
	<string>十九号</string>
	<string>二十号</string>
	<string>二十一号</string>
	<string>二十二号</string>
	<string>二十三号</string>
	<string>二十四号</string>
	<string>二十五号</string>
	<string>二十六号</string>
	<string>二十七号</string>
	<string>二十八号</string>
	<string>二十九号</string>
	<string>三十号</string>
	<string>三十一号</string>
	<string>星期一</string>
	<string>星期二</string>
	<string>星期三</string>
	<string>星期四</string>
	<string>星期五</string>
	<string>星期六</string>
	<string>星期日</string>
	<string>上午</string>
	<string>下午</string>
	<string>一点</string>
	<string>两点</string>
	<string>三点</string>
	<string>四点</string>
	<string>五点</string>
	<string>六点</string>
	<string>七点</string>
	<string>八点</string>
	<string>九点</string>
	<string>十点</string>
	<string>十一点</string>
	<string>十二点</string>
	<string>一分</string>
	<string>两分</string>
	<string>三分</string>
	<string>四分</string>
	<string>五分</string>
	<string>六分</string>
	<string>七分</string>
	<string>八分</string>
	<string>九分</string>
	<string>十分</string>
	<string>十一分</string>
	<string>十二分</string>
	<string>十三分</string>
	<string>十四分</string>
	<string>十五分</string>
	<string>十六分</string>
	<string>十七分</string>
	<string>十八分</string>
	<string>十九分</string>
	<string>二十分</string>
	<string>二十一分</string>
	<string>二十二分</string>
	<string>二十三分</string>
	<string>二十四分</string>
	<string>二十五分</string>
	<string>二十六分</string>
	<string>二十七分</string>
	<string>二十八分</string>
	<string>二十九分</string>
	<string>三十分</string>
	<string>三十一分</string>
	<string>三十二分</string>
	<string>三十三分</string>
	<string>三十四分</string>
	<string>三十五分</string>
	<string>三十六分</string>
	<string>三十七分</string>
	<string>三十八分</string>
	<string>三十九分</string>
	<string>四十分</string>
	<string>四十一分</string>
	<string>四十二分</string>
	<string>四十三分</string>
	<string>四十四分</string>
	<string>四十五分</string>
	<string>四十六分</string>
	<string>四十七分</string>
	<string>四十八分</string>
	<string>四十九分</string>
	<string>五十分</string>
	<string>五十一分</string>
	<string>五十二分</string>
	<string>五十三分</string>
	<string>五十四分</string>
	<string>五十五分</string>
	<string>五十六分</string>
	<string>五十七分</string>
	<string>五十八分</string>
	<string>五十九分</string>
	<string>一秒</string>
	<string>两秒</string>
	<string>三秒</string>
	<string>四秒</string>
	<string>五秒</string>
	<string>六秒</string>
	<string>七秒</string>
	<string>八秒</string>
	<string>九秒</string>
	<string>十秒</string>
	<string>十一秒</string>
	<string>十二秒</string>
	<string>十三秒</string>
	<string>十四秒</string>
	<string>十五秒</string>
	<string>十六秒</string>
	<string>十七秒</string>
	<string>十八秒</string>
	<string>十九秒</string>
	<string>二十秒</string>
	<string>二十一秒</string>
	<string>二十二秒</string>
	<string>二十三秒</string>
	<string>二十四秒</string>
	<string>二十五秒</string>
	<string>二十六秒</string>
	<string>二十七秒</string>
	<string>二十八秒</string>
	<string>二十九秒</string>
	<string>三十秒</string>
	<string>三十一秒</string>
	<string>三十二秒</string>
	<string>三十三秒</string>
	<string>三十四秒</string>
	<string>三十五秒</string>
	<string>三十六秒</string>
	<string>三十七秒</string>
	<string>三十八秒</string>
	<string>三十九秒</string>
	<string>四十秒</string>
	<string>四十一秒</string>
	<string>四十二秒</string>
	<string>四十三秒</string>
	<string>四十四秒</string>
	<string>四十五秒</string>
	<string>四十六秒</string>
	<string>四十七秒</string>
	<string>四十八秒</string>
	<string>四十九秒</string>
	<string>五十秒</string>
	<string>五十一秒</string>
	<string>五十二秒</string>
	<string>五十三秒</string>
	<string>五十四秒</string>
	<string>五十五秒</string>
	<string>五十六秒</string>
	<string>五十七秒</string>
	<string>五十八秒</string>
	<string>五十九秒</string>
</array>
</plist>
